.img {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  object-fit: cover;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.userHeader {
  background-color: blue;
  padding: 10px;
}

.userDescriptionForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.saveButton {
  border: 10px;
  background-color: rgb(209, 209, 85);
  padding: 10px;
  cursor: pointer;
  color: blue;
}

.saveButton:hover {
  background-color: rgb(131, 131, 20);
}

.error {
  color: red;
}

.label{
  display: flex;
  flex-direction: column;
}